#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  display: flex;
  padding: 2em;
  gap: 1rem;
}

.todo-item {
  color: #888;
}

.add-todo-input {
  height: 2rem;
}

.todos-container {
  border: 1px solid darkgray;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0rem;
}
